<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>URL</key>
    <dict>
        <key>AmazonInstantVideo</key>
        <dict>
            <key>URLPatterns</key>
            <array>
                <string>https://www.amazon.com/gp/product/.+</string>
            </array>
            <key>TestURLs</key>
            <array>
                <string>https://www.amazon.com/gp/product/B000H4QD1O/</string>
            </array>
        </dict>
    </dict>
    <key>Search</key>
    <dict>
        <key>AmazonInstantVideo</key>
        <dict>
            <key>Identifier</key>
            <string>com.plexapp.plugins.amazoninstantvideo</string>
        </dict>
    </dict>
</dict>
</plist>
