<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PlexFrameworkFlags</key>
    <array>
        <string>UseRealRTMP</string>
    </array>
    <key>URL</key>
    <dict>
        <key>Amazon Prime</key>
        <dict>
            <key>URLPatterns</key>
            <array>
                <string>http://www.amazon.com/gp/video/streaming/.*</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
